<h1>Registrations for <%= link_to @event.name, @event %></h1>

<ul class="reviews">
    <% @registrations.each do |r| %>
        <li>
            <%= r.name %> &bull; <%= r.event.name %>
        </li>
    <% end %>
</ul>